.container {
	width: 115px;
	margin: 20px auto;
}

.node {
	width: 50px;
	height: 50px;
	position: relative;
	float: left;
}

.core {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	left: -10px;
	top: -10px;
	margin: auto;
}

.core.selected {
	width: 25px;
	height: 25px;
	left: -12px;
	top: -12px;
	background-color: #444;
	border-radius: 50%;
}

.outer-core {
	position: absolute;
	width: 80%;
	height: 80%;
	top: -40%;
	left: -40%;
}

.edge {
	background-color: black;
	position: absolute;
	z-index: -1;
}

.right {
	width: 50px;
	height: 5px;
	top: -2px;
}

.down {
	width: 5px;
	height: 50px;
	left: -2px;
}

.owner {
	z-index: 3;
	font-size: 2em;
	line-height: 50px;
	text-align: center;
}


.home-ui {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
}

li {
	list-style: none;
}

.game-footer {
	width: 100%;
	float: left;
}

input[type=text] {
	width: 60px;
	margin: 20px;
	text-align: center;
}

input[type=number] {
	width: 30px;
	margin: 10px;
	text-align: center;
	padding: 5px;
}
