.hero.is-success {
  background: #F2F6FA;
}

p {
  font-weight: 700;
}
p.subtitle {
  padding-top: 1rem;
}

.container {
	width: 115px;
	margin: 20px auto;
}

.node {
	width: 50px;
	height: 50px;
	position: relative;
	float: left;
}

.core {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	position: absolute;
	left: -10px;
	top: -10px;
	margin: auto;
	z-index: 5;
}

.core.selected {
	width: 25px;
	height: 25px;
	left: -12px;
	top: -12px;
	background-color: #444;
	border-radius: 50%;
}

.outer-core {
	position: absolute;
	width: 80%;
	height: 80%;
	top: -40%;
	left: -40%;
	z-index: 7;
}

.edge {
	background-color: black;
	position: absolute;
	z-index: 0;
}

.right {
	width: 50px;
	height: 5px;
	top: -2px;
}

.down {
	width: 5px;
	height: 50px;
	left: -2px;
}

.owner {
	z-index: 3;
	font-size: 2em;
	line-height: 50px;
	text-align: center;
}

.game-footer {
	width: 100%;
	float: left;
}

input {
	text-align: center;
}


